body {
    background-color: #a468f1e3;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    height: 100vh;
    border: solid px black;
    height: auto;
    flex-direction: column;
}

header {
    background-color: rgb(49, 36, 56);
    text-align: center;
    padding: .5rem;
    border-bottom: solid 1px rgb(208, 185, 250);
    box-shadow: 
    0 4px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header a {
    color: slategray;
    background-color: rgb(144, 238, 199);
    border: 2.5px;
    margin-right: .5rem;
    text-decoration: none;
}

header a:hover, form button:hover {
    background-color: salmon;
    cursor: pointer;
}

.container {
    margin: auto;
    padding: 3rem;
    background-color: rgb(207, 114, 250);
    border: solid 1px gray;
    border-radius: 5px;
}

.container > h1 {
    margin: 0 0 .5rem;
}

form input, .submit {
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    margin: .75rem 0;
    padding: .25rem;
    line-height: 1.5rem;
    font-size: 1em;
    border-radius: 3px;
}

.submit {
    background-color: rgb(144, 238, 199);
    color: slategray;
}

footer {
    margin-top: .75rem;
    border-top: solid 1px lightslategray;
    padding-top: 1rem;
    text-align: center;

}

footer img {
    margin: 0 .5rem;
}

footer img:hover {
    cursor: pointer;
}

